<!-- post.html -->
{% extends "base.html" %}
{% block description %}Post{% endblock %}
{% block title %}Post{% endblock %}
{% block navtitle %}Post{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    
    
<div class="w3-container w3-margin-bottom" style="padding-left:75px; padding-right:75px; padding-bottom:30px; padding-top:50px;">

    
    <div class="w3-row-padding ">
    
        <div class="w3-third w3-container" style="text-align:center;">
        <img src="../static/img/home1.jpg" style="width:100%; max-height:200px;">
            <a href="/cart" style="text-align:center; color:white; background-color:#a17a83" class="w3-button w3-xlarge w3-margin-top  w3-hover-opacity-off">Adopt Now!</a>
        </div>
        
        <div class="w3-twothird">
            <div style="display:flex; flex-direction:row; ">
                <h1 style="font-weight:bold;">Teddy</h1>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h4>By Anonymous</h4>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h2>$100.00</h2>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h2>Golden Retriever</h2>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h3>Teddy is the best dog in the world and is a cutie patootie that's very playful and loves people and is a floof ball and all happy happy all day every day. HEHEHEHEHEHEHEHEHEHEH</h3>
            </div>
            
        </div>
    
    </div>
</div>

<div class="w3-container" style="padding-left:100px;padding-bottom:50px;padding-right:100px;">
    <table class="w3-table w3-striped w3-bordered w3-border">
        <thead style="background-color:#a17a83; color:white;"><th style="width:30%">Background Information</th><th></th></thead>
        <tr><td style="width:30%">Birthday</td><td>12/01/2020</td></tr>
        <tr><td>Gender</td><td>Male</td></tr>
        <tr><td>Color</td><td>Golden</td></tr>
        <tr><td>Animal Class</td><td>Mammal</td></tr>
        <tr><td>Care Level</td><td>Easy</td></tr>
        <tr><td>Diet</td><td>Omnivore</td></tr>
        <tr><td>Medical Conditions</td><td>None</td></tr>
        <tr><td>Eye Color</td><td>Brown</td></tr>
        <tr><td>Weight</td><td>50 Pounds</td></tr>
        <tr><td>Habitat</td><td>N/A</td></tr>
        <tr><td>Wing Span</td><td>N/A</td></tr>
        <tr><td>Noise Level</td><td>N/A</td></tr>
        <tr><td>Minimum Tank Size</td><td>N/A</td></tr>
        <tr><td>Temperament</td><td>N/A</td></tr>
        <tr><td>Water Type</td><td>N/A</td></tr>
        <tr><td>Water PH Level</td><td>N/A</td></tr>
        <tr><td>Water Temperature Range</td><td>N/A</td></tr>
    </table>
</div>




</body>
</html>
{% endblock %}
