<!-- post.html -->
{% extends "base.html" %}
{% block description %}Post{% endblock %}
{% block title %}Post{% endblock %}
{% block navtitle %}Post{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    
    
<div class="w3-container w3-margin-bottom" style="padding-left:75px; padding-right:75px; padding-bottom:30px; padding-top:50px;">

    
    <div class="w3-row-padding ">
    
        <div class="w3-third w3-container" style="text-align:center;">
        <img src="../static/img/home1.jpg" style="width:100%; max-height:200px;">
            <form action="{{ url_for('cartpage.cart', petId=post.pet_id, seller=post.email )}}" method="post">
                <input value="Adopt Now!" type="submit" style="text-align:center; color:white; background-color:#a17a83" class="w3-button w3-xlarge w3-margin-top "></input>
                <input id=petId value="{{post.pet_id}}" type="hidden" style="text-align:center; color:white; background-color:#a17a83" class="w3-button w3-xlarge w3-margin-top "></input>
                <input id=seller value="{{post.email}}" type="hidden" style="text-align:center; color:white; background-color:#a17a83" class="w3-button w3-xlarge w3-margin-top "></input>
            </form>
        </div>
        
        <div class="w3-twothird">
            <div style="display:flex; flex-direction:row; ">
                <h1 style="font-weight:bold;">{{ post.name }}</h1>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h4>By {{post.email}}</h4>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h2>{{ post.price }}</h2>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h2>{{ post.breed }}</h2>
            </div>
            <div style="display:flex; flex-direction:row;">
                <h4>{{ post.age }} Years Old</h4>
            </div>
            
        </div>
    
    </div>
</div>

<div class="w3-container" style="padding-left:100px;padding-bottom:50px;padding-right:100px;">
    <table class="w3-table w3-striped w3-bordered w3-border">
        <thead style="background-color:#a17a83; color:white;"><th style="width:30%">Background Information</th><th></th></thead>
        <tr><td style="width:30%">Birthday</td><td>{{ post.birthday }}</td></tr>
        <tr><td>Gender</td><td>{{ post.gender }}</td></tr>
        <tr><td>Color</td><td>{{ post.color }}</td></tr>
        <tr><td>Animal Class</td><td> {{ post.animal_class }}</td></tr>
        <tr><td>Description</td><td> {{ post.description }}</td></tr>
        <tr><td>Care Level</td><td>{{ post.care_level }}</td></tr>
        <tr><td>Diet</td><td>{{ post.diet }}</td></tr>
        <tr><td>Medical Conditions</td><td>{{ post.medical_condition }}</td></tr>
        <tr><td>Eye Color</td><td>{{ post.eye_color }}</td></tr>
        <tr><td>Weight</td><td>{{ post.weight }}</td></tr>
        <tr><td>Habitat</td><td>{{ post.habitat }}</td></tr>
        <tr><td>Wing Span</td><td>{{ post.wing_span }}</td></tr>
        <tr><td>Noise Level</td><td>{{ post.noise_level }}</td></tr>
        <tr><td>Minimum Tank Size</td><td>{{ post.min_tank_size }}</td></tr>
        <tr><td>Temperament</td><td>{{ post.temperament }}</td></tr>
        <tr><td>Water Type</td><td>{{ post.water_type }}</td></tr>
        <tr><td>Water PH Level</td><td>{{ post.water_ph_level }}</td></tr>
        <tr><td>Water Temperature Range</td><td>{{ post.water_temp_range }}</td></tr>
    </table>
</div>




</body>
</html>
{% endblock %}
